
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

:root{
    --bgcolor: rgb(255,255,255);
    --btncolor: rgb(0,0,0);
    --primary_text: rgb(0,0,0);
    --secondary_text: rgb(239, 239, 239);
    --dark_text: rgb(255,255,255);
    --unfocused: rgb(159, 159, 159);
    --prim-color: #000000;
    --sun: #000000;
    --prim-text-color: #e8e8e8;
    --sec-text-color: #767676;
    color: var(--prim-text-color);
    --highlight: rgba(0,0,0,0.035);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans';
    transition: .5s;
}

::-webkit-scrollbar{ display: none; }


body{
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--bgcolor);
}

.main{
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transform: translate(-50%,-50%);
    height: 55vh;
    width: 79vw;
    background-color: transparent;
    border: 1.2px solid var(--unfocused);
    padding: 20px;
    justify-content: space-between;
    overflow: scroll;
}

.main > *{
    padding: 30px;
}



.form_box, 
.bgBox{
    position: absolute;
    background: var(--bgcolor);
    height: 65%;
    width: 82%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50px;
    /* box-shadow: -3px 3px 10px rgba(165, 185, 32, 0.35); */
    border: 3px solid rgba(245, 243, 243, 0.78);
    /* animation: shadowWarp duration timing-function delay iteration-count direction fill-mode; */
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 4 !important;
    padding: 60px;
    font-size: calc(var(--screen-width) / 58);
    line-height: calc(var(--screen-width) / 38);
    text-align: justify;
}

.form_box::before{
    content: '';
    position: fixed;
    top: -200px;
    left: -10px;
    height: 350%;
    width: 50%;
    transform: rotateZ(49deg) translate(0%,-4%);
    background: linear-gradient(70deg, var(--glass-color) 0%, transparent 65%, transparent 100%);
    z-index: -2 !important;
}

.form_box::after{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 100%;
    background-color: var(--sun);
    height: 17px;
    width: 17px;
    box-shadow: 0 0 90px 5px var(--sun);
}

.container{
    width: 50%;
    overflow: hidden;
    padding: 0;
}

@media (max-width: 700px) {
    
    .signInField{
        bottom: 9.55px !important;
        height: 40px !important;
        min-width: 170px !important;
        max-width: 210px !important;
        bottom: 8.4px !important;
        top: auto !important;
        left: 5px !important;
        justify-content: flex-start !important;
        align-items: center !important;
        padding: 10px !important;
    }

    .signInBtn{
        justify-content: flex-start !important;
        align-items: center !important;

    }

}

@media (max-width: 780px) {
    
    #blogContainer{
        width: 100%;
    }

    .main:nth-child(1){
        width: 91vw;
    }

}

@media (max-width: 900px){

    .titleDateField{
        align-items: flex-start !important;
        justify-content: center !important;
        flex-direction: column !important;
    }

    #blogHeader{
        width: 100% !important;
    }

    .timeField{
        text-align: left !important;
        padding-left: 7px !important;
    }
    

    #blogHeader{
        width: 100% !important;
    }

    .okBtn{
        margin-right: 10px !important;
    }

}

@media (max-width: 1100px){
    
    .signInField{
        bottom: 9.55px !important;
        height: 40px !important;
        min-width: 170px !important;
        max-width: 210px !important;
        bottom: 8.4px !important;
        top: auto !important;
        left: 50% !important;
        transform: translateX(-50%) !important;
        justify-content: flex-start !important;
        align-items: center !important;
        padding: 10px !important;
    }

    .signInBtn{
        justify-content: center !important;
        align-items: center !important;
    }


}

@media (max-width: 1200px) {
    .main{
        display: flex;
        flex-direction: column;
        top: 50.7%;
        padding-top: 110px;
        height: 85vh;
        width: 65vw;
    }

    .container{
        width: var(--screen-width);
    }

    .title{
        width: 100% !important;
        height: 18.7%;
        border-bottom: 1.2px solid var(--unfocused);
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px 10px 20px !important;
    }

    .header{
        margin-top: 25px !important;
        margin-bottom: 7px !important;
    }

    
    #blogContainer{
        width: 100%;
    }

    .main:nth-child(1){
        width: 93.25vw !important;
        height: 85vh !important;
    }

    .valInput{
        width: 0 !important;
        height: 0 !important;
        margin-top: 0 !important;
    }

    .timeField{
        width: 28% !important;
        margin-right: 0 !important;
    }
    

}


.bgBox{
    border-color: var(--prim-color);
    transform: translate(calc(-45%),calc(-45% - 5px));
    z-index: -1 !important;
    background: var(--bgcolor);
    z-index: 1;
    /* background: var(--glass-color); */
}

.formInput{
    display: flex;
    flex-direction: column;
}

.valInput{
    height: 40px;
    width: 100%;
    display: grid;
    margin-top: 50px;
}

.valInput:nth-child(3){
    display: flex;
    justify-content: center;
}

.valInput:nth-child(1){
    margin-top: 10px;
}

.valInput > *{
    grid-row-start: 1;
    grid-column-start: 1;
}

.fname, 
.lname, 
.inputs:nth-child(1), 
.inputs:nth-child(2) {
    width: 250px;
}

.valInput:nth-child(3) {
    height: auto !important;
    margin-top: 70px;
}

button{
    height: 35px;
}

input{
    background: transparent;
    border: transparent;
    padding-left: 13px;
    font-size: calc(var(--screen-width) / 60);
    border-bottom: 1.2px solid var(--unfocused);
}

input:hover, 
input:focus{
    outline: none;
    padding-left: 13px;
    border-bottom: 1.2px solid var(--sec-text-color);
    font-weight: bolder;
}

input:focus{
    border-bottom: 2px solid var(--prim-color);
}

.placeholders{
    position: relative;
    background: transparent;
    margin-left: 10px;
    top: 5%;
    z-index: -1 !important;
    color: var(--unfocused);

}

.okBtn{
    width: 65px;
}

.submitBtn, 
.addBtn, 
.removeBtn, 
.okBtn{
    background: var(--prim-color);
    color: var(--bgcolor);
    font-weight: bolder;
    font-size: calc(var(--screen-width) / 70);
    width: 65%;
    border: 3px solid var(--prim-color);
    border-radius: 50px;
    cursor: pointer;
    height: 40px;
    left: 50%;
}

.removeBtn, 
.okBtn{
    margin-right: 25px;
}

.removeBtn{
    background-color: transparent;
    border: 1.2px solid var(--prim-color);
    color: var(--prim-color);
    width: 80px;
    margin-right: 0;
    padding-top: 5px;
}

.submitBtn:hover, 
.addBtn:hover, 
.removeBtn:hover, 
.okBtn:hover{
    box-shadow: 0 0 6px var(--shadow-color);
    letter-spacing: 1px;
}

.okBtn:hover{
    background: green;
    border-color: green;
}

.removeBtn:hover{
    border-color: red;
    color: red;
}


.inputs{
    height:40px;
}

.inputs:nth-child(3){
    width: 50vw;
}

.title{
    padding-right: 40px;
    width: 45%;
    display: flex;
    flex-direction: column;
}

.title .header{
    color: var(--prim-color);
    letter-spacing: .5px;
    font-weight: bolder;
    font-size: 170%;
    text-align: center;
    margin-bottom: 28px;

}

.title .desc{
    text-align: center;
    color: var(--sec-text-color);
    font-size: 120%;
}


.parentContainer{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    display: grid;
    z-index: 5 !important;

}

.parentContainer > *{
    grid-column-start: 1;
    grid-row-start: 1;
}


.toggleTabs{
    display: flex;
    position: absolute;
    width: 300px;
    height: 50px;
    background-color: transparent;
    align-items:end;
    justify-content: space-around;
    left: 50%;
    transform: translateX(-50%);
    font-size: 107%;
    z-index: 10 !important;
}


#blogsPage, 
#registerPage{
    z-index: 4 !important;
}

.blogTab, 
.register{
    cursor: pointer;
    z-index: 10 !important;
}

.blogTab:hover, 
.register:hover{
    color: var(--prim-color);
    text-decoration: underline;
}

.main:nth-child(1){
    padding: 0;
}

#blogContainer{
    overflow: scroll;
    height: inherit;
    padding: 25px 20px;
    width: 75%;
    display: flex;
    flex-direction: column-reverse;
}

.main:nth-child(1){
    height: 80vh;
    width: 75vw;
}

.headerDescPair{
    background-color: transparent;
    width: 100%;
    min-height: 200px;
    margin-bottom: 15px;
    border: 1.2px solid var(--unfocused);
    color: var(--prim-color);
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.headerDescPair:hover{
    background-color: var(--highlight);
    box-shadow: 0 0 6px 1px var(--unfocused);
}

.headerDescPair > *{
    margin-bottom: 7px;
}

.titleDateField{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titleDateField > *{
    margin-right: 15px;
}

.timeField{
    color: var(--unfocused);
    text-align: right;
    width: 100% !important;
}

.okDel{
    display: flex;
    width: 220px;
    align-items: center;
    justify-content: space-evenly;
}

#BlogDesc, 
#blogHeader{
    outline: none;
    border: none;
    padding: 7px;
    background: transparent;
}

input#blogHeader {
    width: 82.7%;
}


.miniAddBtn{
    position: absolute;
    bottom: 20px;
    right: 20px;;
    height: 75px;
    width: 75px;
    border-radius: 100%;
    background-color: var(--prim-color);
    z-index: 15 !important;
    cursor: pointer;
    font-size: 130%;
    color: var(--prim-text-color);
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}

.miniAddBtn > *{
    position: relative;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 50px;
    width: 50px;
    color: var(--prim-text-color);
    font-size: 130%;
    
}
.plus{
    font-size: 200%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signInField{
    position: absolute;
    height: 50px;
    min-width: 170px;
    padding: 10px;
    top: 0;
    right: 25px;
    z-index: 15 !important;
    padding: 0;
}

.signInBtn{
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background: transparent;
    color: var(--prim-color);
}

.signInBtn > *{
    margin-right: 7px;
}

.userName{
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 120%;
    cursor: pointer;
}

.userName:hover{
    text-decoration: underline;
}

.fa-lg{
    line-height: 0;
}

.frontPopScreen{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.34);
    z-index: 20 !important;
    backdrop-filter: blur(5.2px);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.popScreen{
    position: relative;
    width: 300px;
    height: auto;
    min-height: 450px;
    background: var(--bgcolor);
    box-shadow: 0 0 8px 0.88px var(--sec-text-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.popTitle{
    color: var(--prim-color);
    font-size: 145%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popPassword, 
.popUserName{
    display: grid;
    color: var(--unfocused);
    height: 70px;
}

.popPassword > *, 
.popUserName > *{
    grid-row-start: 1;
    grid-column-start: 1;

}

.popSubmit,
.popResponseBox{
    display: flex;
    align-items: center;
    justify-content: center;
}

.popResponseBox{
    margin-top: 20px;
    height: 20px;

}

.popClose{
    margin-top: 35px;
    font-weight: bolder;
    font-size: 110%;
    color: var(--prim-text-color);
    cursor: pointer;

}

.popClose:hover{
    text-decoration: underline;
}

.popCheck{
    display: flex;
    max-height: 45px;
    padding: 0 10px 18px 10px;
    align-items: center;
    justify-content: center;
    font-size: 92%;
    color: var(--unfocused);
}

.popCheck input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 20px;
    width: 20px;
    margin-right: 8px;
    border-radius: 3.5px;
    border: 1.2px solid var(--unfocused);
    outline: none;
    cursor: pointer;
    padding: 0;
}

.popCheck input[type="checkbox"]:checked::before {
    content: '\2713'; /* Unicode character for checkmark */
    display: block;
    position: absolute;
    color: green; /* Yellow color for the tick */
    margin-left: 3px;
    margin-top: -1.5px;
}
/* 
.trashBin{
    color: #000000;
} */